article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:Helvetica,Arial,sans-serif}body{margin:0}a:focus{outline:none}a:hover,a:active{outline:0}h1{font-size:2em;}h2{font-size:1.5em}h3{font-size:1.17em}h4{font-size:1em}h5{font-size:.83em}h6{font-size:.75em}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}mark{background:#ff0;color:#000}p,pre{}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px dotted #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0px;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0px;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;-webkit-tap-highlight-color:rgba(0,0,0,0);}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0px;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin:0;
	padding: 0;
}


/* General */

html {
	overflow: auto;
	font-family: 'Segoe UI', Segoe, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	color: #fff;
	background-color: #fafafa;
	height: 100%;
	line-height: 1.5;
	overflow-y: scroll;
	overflow-x: hidden;
}

body { 
	height: 100%;
	width: 100%;
}



/* Text */

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

#temp {
    font-size: 4em;
    padding: 35px 125px 25px 0;
    display: inline-block;
	line-height: 1.2;
}

.box.error #temp {
	padding-top: 25px;
}

#desc {
	padding-bottom: 25px;
}


.mute, input[type=search]::placeholder {
	color: rgba(255,255,255,.65);
}

/* Video */

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(weather.jpg) no-repeat;
    background-size: cover; 
}

/* Messages */

.smiley {
	font-size: 3em;
	font-weight: bold;
	line-height: 2em;
}

/* Buttons */

.button {
	font-size: 1.25em;
	display: inline-block;
	text-decoration: none;
	width: 100%;
	margin-top: 2em;
	text-align: center;
	padding: 25px;
	border: none;
	color: #fff;
	background-color: rgba(0,0,0,.5);
	transition: all .4s;
	outline: hidden;
}

input:active, select:active {
	outline: hidden;
}

.button:hover, select:hover, select:active, select:focus, input:focus, .button:focus, input[type="search"]:focus, input[type="search"]:active {
	background-color: rgba(0,0,0,1);
}

.find:active {
	transform: translateY(-10%);
}
.back:active {
	transform: translateX(-10%);
}
.search:active {
	transform: translateX(10%);
}
/* Layout */

#curtain {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
	position: absolute;
	transition: background .4s;
}
#curtain.hidden {
	background: rgba(0,0,0,0);
}
#curtain.revealed {
	background: rgba(0,0,0,.9);
}
.wrap {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

header {
	height: 25%;
	width: 100%;
	color: #fff;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
background: -webkit-linear-gradient(rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
background: -o-linear-gradient(rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
background: linear-gradient(rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

section {
	height: 75%;
	width: 100%;
	position: relative;
}

/* Header */

header h1 {
	text-align: left;
	padding-left: 50px;
	padding-top: 25px;
}

/* Form */

form {
	transition: all .4s;
	transform: translateX(0);
	width: 100%;
}
form.revealed {
	transform: translateX(0);
	opacity: 1;
}
form.hidden fieldset {
	transform: translateX(-200%);
	opacity: 0;
}
fieldset {
	display: block;
	position: absolute;
	top: 0px;
	width: 100%;
	border: none;
	margin: 0;
	padding: 0 50px;
	transition: all .4s;
}
fieldset.hidden {
	opacity: 0;
}
fieldset.revealed {
	transform: translateX(0) translateY(0);
	opacity: 1;
}
#city.hidden {
	transform: translateX(200%);
}
#country.hidden {
	transform: translateX(-200%);
}
#city.hidden.left-hidden {
	transform: translateX(-200%);
}
#city.hidden.up-hidden {
	transform: translateY(-1000%);
}
/*
form.hidden #city.hidden {
	transform: translateX(-200%);
}
form.hidden #country.hidden {
	transform: translateX(-300%);
}*/
select, input[type="search"] {
	width: 100%;
	height: 100px;
	line-height: 100px;
	padding-left: 20px;
	outline: hidden;
	border: none;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	font-size: 1.75em;
	cursor: pointer;
	transition: background .4s;
}

input[type="search"] {
	cursor: text;
	outline: none;
	width: 100%;
	border: none;
	box-sizing: border-box;
	padding: 25px;
}
div.search-wrap {
	width: 85%;
	padding-right: 1em;
	float: left;
	margin-bottom: 2em;
}
.button.search  {
	width: 100%;
	margin: 0;
	height: 100px;
	background-image: url(chevron-right.png);
	background-position: center center;
	background-repeat: no-repeat;
}
div.button-wrap {
	width: 15%;
	float: right;
	padding-left: 1em;
	margin-bottom: 2em;
}
.button-wrap .button, .half .button {
	margin-top: 0;
	height: 100px;
	line-height: 100px;
	padding: 0;
	text-align: center;
}
.button-wrap .find, .half .find {
	background-image: url(target.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.back.button {
	background-image: url(chevron-left.png);
	background-position: center center;
	background-repeat: no-repeat;

}
div.half {
	width: 50%;
	float: left;
	margin-top: 2em;
}

div.left.half {
	padding-right: 1em;
}
.half:last-of-type {
	padding-left: 1em;
}

option {
	color: black;
	background-color: #fff;
}

/* Weather */

#weather {
	transition: all .4s;
	display: block;
	width: 100%;
	position: absolute;
	top: 0px;
	padding: 0 50px;
}

#weather .box {
	padding: 0 25px 40px 25px;
	background-color: rgba(0,0,0,.5);
	background-position: top 45px right 25px;
	background-size: 100px auto;
	background-repeat: no-repeat;
	background-image: url(light-icons/rain.png);
}

#weather .box.error {
	background-image: none !important;
	padding-bottom: 10px;
	padding-top: 25px;
}

#weather.hidden {
	transform: translateX(200%);
	opacity: 0;
}
#weather.revealed {
	transform: translateX(0);
	opacity: 1;
}

/* Media queries */

@media (max-width: 768px) {
	
	html > *, body > * {
		
		text-align: center !important;
		
	}
	
	header {
		height: 10%;
	}
	
	section {
		height: 90%;
	}
	
	#temp {
		padding: 0;
		padding-bottom: 0.5em;
	}
	
	#weather .box {
		background-position: top 45px center;
		background-size: auto 120px;
		padding-top: 200px;
	}
	
	/* Wraps and buttons */
	
	div.search-wrap {
		width: 100%;
		padding-right: 0;
		float: none;
		margin-bottom: 20px;
	}
	
	div.button-wrap {
		width: 100%;
		float: none;
		padding-left: 0;
		margin-bottom: 20px;
	}
	
	.button-wrap .button, .half .button {
		margin-top: 0;
		height: 100px;
		line-height: 100px;
		padding: 0;
		text-align: center;
	}
		
	div.half {
		width: 50%;
		float: left;
		margin-top: 20px;
	}

	div.left.half {
		padding-right: 10px;
	}
	.half:last-of-type {
		padding-left: 10px;
	}


	
}

@media (max-width: 500px) {
	
	header h1 {
		padding-left: 20px;
	}

	#temp {
		font-size: 2.8em;
	}
	
	#weather .box {
		background-size: auto 100px;
		padding-top: 160px;
	}
	
	#weather, fieldset {
		padding: 0 20px;
	}
	
	select, input[type="search"] {
		font-size: 1.5em;
	}
	
}

@media (max-width: 400px) {
	
	#temp {
		font-size: 2.4em;
	}
	
	#weather .box {
		background-size: auto 100px;
		padding-top: 160px;
	}
	
	select, input[type="search"] {
		font-size: 1.25em;
	}
	
}